@page "/settings"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Routing
@inject BlazorApp2.Services.AuthService Auth

<PageTitle>Settings</PageTitle>

<div class="dash">
    <!-- Header -->
    <div class="dash-hero">
        <div class="dash-hero-left">
            <div class="brand-chip">
                <span class="brand-dot"></span>
                <span>QuickFix</span>
            </div>
        </div>
    </div>
</div>





@code {

}
